.App {
  text-align: center;
}

body {
  background: white;
  background-image: url('background.png');
  background-repeat: no-repeat;
  background-size: cover;
}

.App-logo {
  height: 7vh;
  width: 7vh;
  pointer-events: none;
}


.App-link {
  color: #61dafb;
}