.etiquetas {
    font-family: 'Helvetica';
    font-size: 1rem;
    text-align:center;
    margin: 2rem 0 0;
}   

.entradas {
    text-align: center;
    margin: 0 0 10px;
}

h1 {
    font-family: 'Helvetica';
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

p {
    font-family: 'Helvetica';
    font-size: 1rem;
    color: black;
    text-align: center;
}

.forgot p {
    font-family: 'Helvetica';
    font-size: 0.8rem;
    margin: 4px 0 10px;
}

.register {
    font-family: 'Helvetica';
    font-size: 0.8rem;
    text-align: center;
    margin: 0 0 40px;
}

/*.buttonlog{
    margin: 16px 0 10px;
    background: navy;
    color: white;
    border: none;
    padding: 0.6rem 6rem;
    font-family: 'Helvetica';
    font-size: 1rem;
    border-radius: 0.4rem;
} */  

.buttonlog>button{
    background: navy;
    width: 150px !important;
    height: 40px !important;
    color: white;
    font-family: 'Helvetica';
    font-size: 1rem;
}


