
.navbar-per {
    /* width: 100%;
    max-width: 100%;
    position: relative;
    text-align: center;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    background:  navy;
    color:rgb(226, 85, 30) */

    width: 100%;
    margin: auto;
    max-width: 100%;
    margin: auto auto;
    display: grid;
    grid-gap: 10px;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(1, auto);
    background:  navy;
    color:rgb(226, 85, 30);
    border-radius: 10px;

}

*span {
    text-align: center;
  }


.item {
    text-decoration: none;
    color: white;
    font-weight: 600;
}

button{
    background: rgb(226, 85, 30) !important;
    color:white !important;
    width: 123.66px !important;
    height: 30px !important;
    justify-content: center;

}

button:hover {
    background: navy !important;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

 .btn .align1 >button {
    border-radius: 6px;
    grid-column: 10 / 11;
    grid-gap: 1px;
    align-items: center;
    text-align: center;
    font-weight: 500;
}