* {
    margin: 0;
    padding: 0 0 0 0 !important;
}

body {
    background: white;
    color: rgb(255, 255, 255);
    font-family: 'Roboto', sans-serif !important;
    background-image: url('images/background.png')!important;
    background-repeat: no-repeat;
    background-size: cover;
}


.container {
    width: 100%;
    margin: auto;
    max-width: 100%;
    margin: auto auto;
    /* display: grid; */
    /* grid-gap: 5px;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, auto); */
}

div.inicio {
    background: #94BCEF;
    margin: 50px 400px 50px 400px ;
    padding: 50px 50px 50px 50px;
}

h1 {
    font-family: 'Helvetica';
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

p {
    font-family: 'Helvetica';
    font-size: 1rem;
    color: black;
    text-align: center;
}

div.etiquetas {
    font-family: 'Helvetica';
    font-size: 0.9rem;
    text-align:center;
    margin: 0 0 0;
}

div.entradas {
    text-align: center;
    margin: 0 0 10px;
}

button{
    margin: 16px 0 10px;
    background: #1F618D;
    color: white;
    border: none;
    padding: 0.6rem 6rem;
    font-family: 'Helvetica';
    font-size: 1rem;
    border-radius: 0.4rem;
}

div.buttonLog {
    text-align: center;
}

div.forgot p {
    font-family: 'Helvetica';
    font-size: 0.8rem;
    margin: 0 0 10px;
}

div.register {
    font-family: 'Helvetica';
    font-size: 0.8rem;
    text-align: center;
    margin: 0 0 40px;
}

section.opciones {
    display: flex;
    justify-content: center;
    width: 100%;
    font-family: 'Helvetica';
    font-size: 0.9rem;
}

h2 {
    font-family: 'Helvetica';
    font-size: 1.6rem;
    text-align: center;
    margin: 0 0 20px;
}

form.informacion {
    display: grid;
    grid-column: auto;
    font-family: 'Helvetica';
    font-size: 1rem;
    text-align: center;
    margin: 0 0 20px;
    
}

section.acuerdos {
    text-align: center;
}
section.buttons {
    text-align: center;
}

button.registrar {
    padding: 0.6rem 2rem ;

}

button.cancelar {
    padding: 0.6rem 2rem;
    background: red;
}
input { 
    border-radius: 4px;
    border: 1px solid;
    border-color: gray;
}
