

body {
    background: white;
    /* color: rgb(255, 255, 255); */
    font-family: 'Roboto', sans-serif;
    /* background-image: url('/background.png');  */
    background-repeat: no-repeat;
    background-size: cover;
}


 .caption {
    color: navy;
    text-align: center;
    size: 30px;
}
    

.logo {
    width: 128px !important;
    height: 128px !important;
}

.content {
    width: 30%;
    border: 4px solid;
    border-color: rgb(226, 85, 30);
    border-radius: 6px;
    padding: 50px !important;
    margin: auto auto;
    margin-top: 3%;
    text-align: center;
    justify-content: center;
}

.etiquetas {
    font-family: 'Helvetica';
    font-size: 1rem;
    text-align:center;
    margin: 2rem 0 0;
}   

.entradas {
    text-align: center;
    margin: 0 0 10px;
}

h1 {
    font-family: 'Helvetica';
    font-size: 2.5rem;
    color: black;
    text-align: center;
}

p {
    font-family: 'Helvetica';
    font-size: 1rem;
    color: black;
    text-align: center;
}

.forgot p {
    font-family: 'Helvetica';
    font-size: 0.8rem;
    margin: 4px 0 10px;
}

.register {
    font-family: 'Helvetica';
    font-size: 0.8rem;
    text-align: center;
    margin: 0 0 40px;
}

 

.buttonlog>button{
    background: navy;
    min-width: 120px !important;
    height: 40px !important;
    color: white;
    font-family: 'Helvetica';
    font-size: 1rem;
}
