.navbar {
    background: #13121c!important;
}

span.navbar-brand {
    color: rgb(226, 85, 30) !important;
    font-weight: 700;
}

button:hover {
    background: rgb(226, 85, 30) !important;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}

button {
    background: navy!important;
    /* width: 123.66px !important; */
    /* padding: 2 px!important; */
    margin: 2px !important;
    /* height: 30px !important; */
    justify-content:center!important;
    text-align: center!important;
    color: white!important;
    border:none!important;
    cursor: pointer;
}