

h2 {
    color: navy;
    text-align: center;

}


.products{
    display: flex;
    padding: auto;
    margin: auto;
    position: relative;
    justify-content: center;
}

.group {
    max-width: fit-content;
    justify-content: center;
    position: relative;
    margin: auto;
}