.navbar {
    background: navy !important;
}

a.navbar-brand {
    color: rgb(226, 85, 30) !important;
    font-weight: 700;
}

button:hover {
    background: rgb(226, 85, 30) !important;
    color: rgb(255, 255, 255);
    font-size: 16px;
    font-weight: 500;
}