body {
    background: white;
    background-image: url('./background.png');
    background-repeat: no-repeat;
    background-size: cover;
}

h2 {
    color: navy;
    text-align: center;

}

/* button{
    background: navy!important;
    width: 123.66px !important;
    height: 30px !important;
    font-weight: 500!important;
}

.btn>button:hover {
    background: rgb(226, 85, 30)!important;     
    color: rgb(255, 255, 255)!important;
    font-size: 16px!important;
    font-weight: 500!important;
} */

.products{
    display: flex;
    padding: auto;
    margin: auto;
    position: relative;
    justify-content: center;
}